{% extends 'core/base.html'%}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="This is an online store for kitchen utensils and food. This site may not contain all the staff one may require in the kitchen, but at least you will like the ease of use with which it was constructed">
<meta name="author" content="KitchenNet Mazdon ">
<meta property="og:title" content="KitchenNet | About">
<meta property="og:description" content="KitchenNet is a very user friendly site for purchasing kitchen staff and food">
{% endblock %}

{% block content %}
<h1>About</h1>
{% endblock %}